@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --color-primary: #58a6ff;
  --color-text: #c9d1d9;
  --color-background: #0d1117;

  /* BORDERS */
  --border-radius: 1em;
  --border: 1px solid var(--color-primary);

  /* FONTS */
  --font-family: "Noto Sans Mono", monospace;
}

body {
  font-family: var(--font-family);
  color: var(--color-text);
  background-color: var(--color-background);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-primary);
}

#app {
  height: 100vh;
  overflow: auto;
  display: grid;
  grid-template-rows: 30% auto;
  align-content: center;
  justify-items: center;
}

.submitButton {
  background-color: springgreen;
  font-family: var(--font-family);
  border: none;
  border-radius: var(--border-radius);
}

.form {
  display: grid;
  gap: 0.7em;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1em;
  background-image: linear-gradient(#e81224, #e81224);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% 0%;
  transition: background-size 0.5s, color 0.5s;
}

.footer:hover {
  user-select: none;
  color: black;
  background-size: 100% 100%;
}
